*{
    align-items: center;
    background-color: rgb(255, 255, 255);
}
h1, h2 {
    margin-left: 46%;
}
table {
    width: 100%;
}
th {
    padding: 10px;
    background-color: aqua;
}
tr {
    background-color: black;
}